.jumbotron {
    padding-top: 6rem;
    background-color: #41C9E2;
}

#Gallery {
    background-color: #41C9E2;
}

.card {
    transition: transform 0.3s ease;
    padding: 5px;
    text-align: center;
    margin: 10px;
    background-color: #ACE2E1;
}

.card:hover {
    transform: scale(1.1);
}

section {
    padding-top: 5rem;
}

footer {
    background-color: #008DDA;
}
/* 
footer p a {
    text-decoration: none;
    color: white;
    font-weight: bold;
} */